DeusEx/
Prefabs/
Revision/
Ued2/
Tools/
UBrowser/
Engine/
Fire/
Extension/
ConSys/
Help/
Editor/
DeusExText/
IpDrv/
IpServer/
Manual/
MPCharacters/
GOTY_1/
DeusExUI/
DeusExSounds/
DeusExItems/
System/
Sounds/
Textures/
Music/
DeusExDeco/
DeusExCharacters/
DeusExConversations/
DXEP_WC.exe
Core/
UWindow/
Save/
Maps/

#!Maps/50_OpheliaDocks_variant_old.dx
#!Maps/50_OpheliaL1-v13.dx
#!Maps/50_OpheliaL1-v13_old.dx
#!Maps/50_OpheliaL1-v25.dx

!System/DXOg*
!Textures/GenFX.utx

MyIcons.DLL
Revision_installscript.vdf
installscript.vdf
modpath.exe
unins000.dat
unins000.exe
ereg.url
games.pdf
nd.url
readme.txt
support.txt
Cache0000.tmp
