# Excluded:
!System/DXOg*

# Ignore files in root directory
/*.*

DeusEx/
Prefabs/
Revision/
Ued2/
Tools/
UBrowser/
Engine/
Fire/
Extension/
ConSys/
Help/
Editor/
DeusExText/
IpDrv/
IpServer/
Manual/
MPCharacters/
GOTY_1/
DeusExUI/
DeusExSounds/
DeusExItems/
System/
Sounds/
DeusExDeco/
DeusExCharacters/
DeusExConversations/
Core/
UWindow/
Save/

Textures/HK_BuildingExt.utx
Textures/CoreTexWallObj.utx
Textures/CoreTexWater.utx
Textures/CoreTexWood.utx
Textures/DXFonts.utx
Textures/Dockyard.utx
Textures/Effects.utx
Textures/Extras.utx
Textures/FreeClinic.utx
Textures/G_Station.utx
Textures/CoreTexPaper.utx
Textures/CoreTexSky.utx
Textures/CoreTexStone.utx
Textures/CoreTexStucco.utx
Textures/CoreTexTextile.utx
Textures/CoreTexTiles.utx
Textures/HK_Decorations.utx
Textures/HK_Helibase.utx
Textures/HK_Interior.utx
Textures/CoreTexConcrete.utx
Textures/CoreTexDetail.utx
Textures/CoreTexEarth.utx
Textures/CoreTexFoliage.utx
Textures/CoreTexGlass.utx
Textures/CoreTexMetal.utx
Textures/CoreTexMisc.utx
Textures/HK_MJ12Lab.utx
Textures/HK_Signs.utx
Textures/BatteryPark.utx
Textures/Catacombs.utx
Textures/Cmd_tunnels.utx
Textures/Constructor.utx
Textures/CoreTexBrick.utx
Textures/CoreTexCeramic.utx
Textures/HK_VersaLife.utx
Textures/Hangar18.utx
Textures/InfoPortraits.utx
Textures/Airfield.utx
Textures/BobPage.utx
Textures/MJ12_lab.utx
Textures/Mobile_Camp.utx
Textures/MolePeople.utx
Textures/Moon.utx
Textures/NYCBar.utx
Textures/NewYorkCity.utx
Textures/OceanLab.utx
Textures/Palettes.utx
Textures/Paris.utx
Textures/Render.utx
Textures/Rocket.utx
Textures/SubBase.utx
Textures/Supertanker.utx
Textures/UNATCO.utx
Textures/V_Com_Center.utx
Textures/subway.utx
Textures/area51textures.utx
Textures/DerZeitMann.utx

Music/Title_Music.umx
Music/Training_Music.umx
Music/Tunnels_Music.umx
Music/UNATCOReturn_Music.umx
Music/UNATCO_Music.umx
Music/Vandenberg_Music.umx
Music/VersaLife_Music.umx
Music/ParisClub2_Music.umx
Music/ParisClub_Music.umx
Music/Quotes_Music.umx
Music/ParisCathedral_Music.umx
Music/ParisChateau_Music.umx
Music/Area51Bunker_Music.umx
Music/Area51_Music.umx
Music/BatteryPark_Music.umx
Music/Credits_Music.umx
Music/DeusExDanceMix_Music.umx
Music/Endgame1_Music.umx
Music/Endgame2_Music.umx
Music/Endgame3_Music.umx
Music/HKClub2_Music.umx
Music/HKClub_Music.umx
Music/HongKongCanal_Music.umx
Music/HongKongHelipad_Music.umx
Music/HongKong_Music.umx
Music/Intro_Music.umx
Music/Lebedev_Music.umx
Music/LibertyIsland_Music.umx
Music/MJ12_Music.umx
Music/NYCBar2_Music.umx
Music/NYCStreets2_Music.umx
Music/NYCStreets_Music.umx
Music/NavalBase_Music.umx
Music/OceanLab2_Music.umx
Music/OceanLab_Music.umx

Maps/00_Intro.dx
Maps/00_Training.dx
Maps/00_TrainingCombat.dx
Maps/00_TrainingFinal.dx
Maps/01_NYC_UNATCOHQ.dx
Maps/01_NYC_UNATCOIsland.dx
Maps/02_NYC_Bar.dx
Maps/02_NYC_BatteryPark.dx
Maps/02_NYC_FreeClinic.dx
Maps/02_NYC_Hotel.dx
Maps/02_NYC_Smug.dx
Maps/02_NYC_Street.dx
Maps/02_NYC_Underground.dx
Maps/02_NYC_Warehouse.dx
Maps/03_NYC_747.dx
Maps/03_NYC_Airfield.dx
Maps/03_NYC_AirfieldHeliBase.dx
Maps/03_NYC_BatteryPark.dx
Maps/03_NYC_BrooklynBridgeStation.dx
Maps/03_NYC_Hangar.dx
Maps/03_NYC_MolePeople.dx
Maps/03_NYC_UNATCOHQ.dx
Maps/03_NYC_UNATCOIsland.dx
Maps/04_NYC_Bar.dx
Maps/04_NYC_BatteryPark.dx
Maps/04_NYC_Hotel.dx
Maps/04_NYC_NSFHQ.dx
Maps/04_NYC_Smug.dx
Maps/04_NYC_Street.dx
Maps/04_NYC_UNATCOHQ.dx
Maps/04_NYC_UNATCOIsland.dx
Maps/04_NYC_Underground.dx
Maps/05_NYC_UNATCOHQ.dx
Maps/05_NYC_UNATCOIsland.dx
Maps/05_NYC_UNATCOMJ12lab.dx
Maps/06_HongKong_Helibase.dx
Maps/06_HongKong_MJ12lab.dx
Maps/06_HongKong_Storage.dx
Maps/06_HongKong_TongBase.dx
Maps/06_HongKong_VersaLife.dx
Maps/06_HongKong_WanChai_Canal.dx
Maps/06_HongKong_WanChai_Garage.dx
Maps/06_HongKong_WanChai_Market.dx
Maps/06_HongKong_WanChai_Street.dx
Maps/06_HongKong_WanChai_Underworld.dx
Maps/08_NYC_Bar.dx
Maps/08_NYC_FreeClinic.dx
Maps/08_NYC_Hotel.dx
Maps/08_NYC_Smug.dx
Maps/08_NYC_Street.dx
Maps/08_NYC_Underground.dx
Maps/09_NYC_Dockyard.dx
Maps/09_NYC_Graveyard.dx
Maps/09_NYC_Ship.dx
Maps/09_NYC_ShipBelow.dx
Maps/09_NYC_ShipFan.dx
Maps/10_Paris_Catacombs.dx
Maps/10_Paris_Catacombs_Tunnels.dx
Maps/10_Paris_Chateau.dx
Maps/10_Paris_Club.dx
Maps/10_Paris_Metro.dx
Maps/11_Paris_Cathedral.dx
Maps/11_Paris_Everett.dx
Maps/11_Paris_Underground.dx
Maps/12_Vandenberg_Cmd.dx
Maps/12_Vandenberg_Computer.dx
Maps/12_Vandenberg_Gas.dx
Maps/12_Vandenberg_Tunnels.dx
Maps/14_OceanLab_Lab.dx
Maps/14_OceanLab_UC.dx
Maps/14_Oceanlab_Silo.dx
Maps/14_Vandenberg_Sub.dx
Maps/15_Area51_Bunker.dx
Maps/15_Area51_Entrance.dx
Maps/15_Area51_Final.dx
Maps/15_Area51_Page.dx
Maps/99_Endgame1.dx
Maps/99_Endgame2.dx
Maps/99_Endgame3.dx
Maps/99_Endgame4.dx
Maps/Autoplay.dx
Maps/DX.dx
Maps/DXMP_Area51Bunker.dx
Maps/DXMP_CMD.dx
Maps/DXMP_Cathedral.dx
Maps/DXMP_Silo.dx
Maps/DXMP_Smuggler.dx
Maps/DXOnly.dx
Maps/Entry.dx
_CommonRedist/
fgrhk/
DXN SDK Documentation/
Maps/DXN.dx
Maps/bd2.dx
Textures/DXN_3D/
Textures/DXN_Berlin/Metal/DBAHNsign.dds
Textures/DXN_WallGeneric/Stone/TSQplaster_croc.dds
Textures/DXN_Berlin/Metal/SGNfszone.dds
Textures/Unatco/Misc/unatcoseal_a.dds.flags
DXN_Textures/
AiMaps/
BackupConv/
