DeusEx/
Prefabs/
Revision/
Ued2/
Tools/
UBrowser/
Engine/
Fire/
Extension/
ConSys/
Help/
Editor/
DeusExText/
IpDrv/
IpServer/
Manual/
MPCharacters/
GOTY_1/
DeusExUI/
DeusExSounds/
DeusExItems/
Maps/
System/
Sounds/
Textures/
Music/
DeusExDeco/
DeusExCharacters/
DeusExConversations/
DXEP_WC.exe
Core/
UWindow/
Save/

!Maps/50_Opheli*
!System/DXOg*
!Textures/GenFX.utx

MyIcons.DLL
Revision_installscript.vdf
installscript.vdf
modpath.exe
unins000.dat
unins000.exe
